#conteudo-left {
    width: 30%;
    float: left;
    font-size: 14pt;
    /* atributos da coluna-esquerda do site */
}

#margim {
    margin-left: 4%;
    /* margin do conteudo-left */
}

#conteudo-right {
    width: 70%;
    float: left;
    font-size: 14pt;
    font-weight: bold;
    /* atributos da coluna-direita do site */
}

#margim2 {
    margin-top: 2%;
    margin-left: 2%;
    /* margin do conteudo-rigth */
}

#paragrafo {
    font-weight: normal;
    font-size: 12pt;
    /* fonte e tamanho do texto */
}

#coluna1 {
    width: 60%;
    float: left;
    /* coluna 1 do conteudo-right */
}

#coluna2 {
    width: 40%;
    float: left;
    /* coluna 2 do conteudo-right */
}

.inputcol1 {
    width: 58%;
    height: 30px;
    /* input do Nome e E-mail pertecente a coluna 1 do conteudo-right */
}

.inputcol2 {
    width: 87%;
    height: 30px;
    /* input do Telefone e Assunto pertecente a coluna 2 do conteudo-right*/
}

#mensagem {
    width: 95%;
    height: 100px;
    /* largura e Tamanho da Tag Textarea */
}

#buttonroxo {
    border-radius: 50px;
    width: 10%;
    height: 40px;
    font-size: 12pt;
    color: white;
    background-color: rgb(3, 58, 5);
    float: left;
    margin-left: 100px;
    /* atributos do butao de "Enviar Mensagem" */
}

a {
    text-decoration: none;
    color: white;
}

.espacamento {
    line-height: 150%;
}


/* espaçamento entre linhas */