body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}


/* Estilizacão dos botões usados ​​para abrir e fechar o painel de acordeão */

.accordion {
    background-color: #7F3FBF;
    color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 45%;
    text-align: left;
    border-color: #eee;
    outline: none;
    transition: 0.4s;
}

.imagemeleicoes {
    text-align: right;
    height: 100px;
    width: 70%;
    margin-top: -3%;
    margin-left: 320px;
}

#tamanho {
    width: 500px;
    height: 500px;
}


/* Adicione uma cor de plano de fundo ao botão se ele for clicado */

.active,
.accordion:hover {
    background-color: #800ef1;
}


/* Modelo painel de acordeão. Nota: oculto por padrão */

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: ;
    max-height: 0.2s ease-out;
}

.accordion:after {
    content: '\02795';
    /* Caractere Unicode para sinal de "mais" (+) */
    font-size: 13px;
    color: #ffffff;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Caractere Unicode para sinal de "menos" (-) */
}